body {
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    font-size:16px;
    color: #fff; 
    font-family: sans-serif;
    font-weight: 300;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#design-box {
    position: relative;
    margin: 5% auto;
    height: 450px;
    width: 400px;
    background: #999ede;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
.page-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 460px;
}

h1  {
    position: relative;
    margin: 5% auto;
    text-align: center;
    font-weight: 300;
    font-size: 28px;
}
button
{
    
    margin-bottom: 28px;
    width: 250px;
    height:35px;
    background: rgb(255, 28, 28);
    border:none;
    border-radius:2px;
    color:#fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 20px;
    transition: 0.2s ease;
    cursor: pointer;
}

button:hover, button:focus {
    background: #ff0101;
    color:rgb(0, 0, 0);
    opacity: 1;
}
.fixed-header{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 80px;
    position: fixed;        
    background: #475f7c;
    color: #fff;
}

.fixed-header p{
    display: flex   ;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

.fixed-footer{
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;        
    background: #475f7c;
    padding: 10px 0;
    color: #fff;
}

.fixed-footer p{
    display: flex   ;
    justify-content: center;
    align-items: center;
}

.log-out{
    position: absolute;
    top: 25%;
    right: 5%;

}

.log-out button{
    width: 120%;
    border-radius: 20px;
}